/* Cascading Style Sheet */
/* 선택자(selector) */



#header-center {
    margin: 0 auto;
    width: 1080px;
}

#header-search > a > h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background: -4px -10px url(./sp_search.png) no-repeat;
}

#header-search > a {
    text-decoration: none;
}

#header-search > a > h1 > span {
    display: none;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search fieldset {
    margin-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0px;
    border: 2px solid #19ce60;
    width: 520px;
    height: 24px;
    display: inline-block;
}
/*
#header-center h1 {
  자손 선택자
}
*/



